//conda install cudatoolkit=11.8
//conda install pytorch torchvision torchaudio pytorch-cuda=11.8 -c pytorch -c nvidia
//conda install -c conda-forge faiss-gpu
numpy
pandas
matplotlib
langchain
llama-cpp-python
transformers
sentence-transformers
chromadb
wakepy
beautifulsoup4
lxml
httpx