//conda install cudatoolkit=12.1
//conda install pytorch torchvision torchaudio pytorch-cuda=12.1 -c pytorch -c nvidia
//conda install -c faiss faiss-cpu # windows doesn't support faiss-gpu, but seems faster with pytorch gpu to create the embeddings
types-chardet numpy pandas matplotlib langchain transformers sentence-transformers chromadb wakepy beautifulsoup4 lxml httpx